label{
	color: color(secondary);
	
	strong{
		color: color(electric);
	}
}
[class*="ninja-forms-error"]{
	color: #eb1781;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: color(bg, light);
	color: color(text);
	border: 1px solid color(bg, darker);
	border-radius: 2px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: color(text);
	border-color: color(highlight, darker);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: currentColor;
	border-radius: 3px;
	background-color: transparent;
	color: color(link);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	@include type-font-size(16px);
	line-height: 1;
	padding: .6em 1em .5em;
	text-decoration: none;
	transition: color 100ms ease-out, background 150ms ease-out;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: color(link, light);
	background-color: rgba(color(link, light), .1);
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	color: #fff;
	background-color: color(link);
	border-color: color(link);
}
