[class*="list_bordered"] {
    @extend %space_v;
    > li {
        @extend %display_block;
        border-top: 1px solid color(function);
        @extend %pad_v;
		margin-top: -1px;
    }
    > li:first-child {
        border-top-color: transparent;
    }
}

.list_bordered_short{
	> li {
        @include rems(padding-top, ($base-line-height/2));
		@include rems(padding-bottom, ($base-line-height/2));
    }
}

.list_inline {
    @extend %space_reset;
    > li {
        display: inline-block;
        padding-left: 0;
        width: auto;
        vertical-align: middle;
        @include rems(padding-right, ($gutter/2));

		&:last-child{
			padding-right: 0;
		}
	}

}

.list_inline_bordered{
	@extend %space_reset;

	>li{
		display: inline-block;
        width: auto;
        vertical-align: middle;
        @include rems(padding-right, ($gutter/2));
		@include rems(padding-left, ($gutter/2));
		border-left: 1px solid;

		&:first-child{
			border-left-width: 0;
			padding-left: 0;
		}
	}
}

.breadcrumbs{
    @extend %pad_r;

	a{
		@extend %display_block;
	}
}
    .breadcrumb{
        display: inline-block;
        white-space: nowrap;
        @extend %pad_r_half;
    }
        .breadcrumb:after{
            content: "\25B8";
            display: inline-block;
        }

.list_naked, %list_naked{
    @include no-bullets;
    @extend %space_l_n;
}

//Make links fill their list items for easier clickability.
.list_nav{

	a{
		@extend %display_block;
		@include rems(padding-bottom, ($base-line-height/2));
		@include rems(padding-top, ($base-line-height/2));

		text-decoration: none;
	}

	&.list_bordered > li {
		@extend %pad_v_n;
	}

}