.site-title {
	max-width: 200px;
}
.logo{
	@include type-space(margin-bottom, -2);
	@include mq(bigs){
		@include type-space(margin-bottom, -2.5);
	}
	@include mq(small) {
		width: 150px;
		position: relative;
		z-index: 1;
	}
}
.site_header{
	background-color: color(text);
	position: relative;
	z-index: 1;
	@include mq(bigs){
		max-height: 24vh;
		min-height: 118px;
	}
	border-bottom: 2px solid color(electric);
	box-shadow: 0 4px 0 color(text);
	transition: border 300ms ease-out;
	
	@include mq(smalls) {
		&.toggled {
			border-color: color(highlight)
		}
	}
}
.promo + .site_header .site-title {
	position: relative;
	top: -5px;
}

.nav_column {
	@extend %three_fifths;
	@extend %smallish_seven_tenths;
	@extend %bigs_two_thirds;
}

.logo_column {
	@extend %two_fifths;
	@extend %smallish_three_tenths;
	@extend %bigs_one_third;
}

.main_navigation {
	@extend %one_whole;
	position: relative;
	
	& > .column {
		vertical-align: top;
	}
	
	li {
		display: inline-block;
		width: auto;
	}
	
	li a {
		color: desaturate(color(highlight), 10%);
		white-space: nowrap;
		padding-right: 10%;
		padding-left: 10%;
		
		&:hover {
			color: color(highlight, lighter);
		}
	}
	.current_page_item a{
		color: #fff !important;
		cursor: default;
	}
	
	.nav {
		@extend %txt_upper;
	}
	
	@include mq((bigs, smallish)){
		.nav {
			position: absolute;
			right: 0;
		}
		.list_nav {
			display: table-row;
		}
		
		li {
			max-width: 45%;
			min-width: 99px;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			display: table-cell;
		}
		
		.nav_primary_list {
			@include rems(font-size, modular-scale(1));
			@include type-space(margin-left, .5);
			@include type-space(padding-bottom, 1);
		}

		.nav_secondary_list {
			@include type-space(padding-left, .5);
			float: right;
		}
		
		.nav_primary a {
			color: color(electric);
		}
		.nav_secondary a {
			color: color(royce);
		}
		
		.nav_primary {
			bottom: 0;
			@include type-space(padding-bottom, 1);
		}
		.nav_secondary {
			top: 0;
			right: 0;
			border-bottom: 1px dotted rgba(white, .35);
		}
	}
	
}

.nav_container {
	
	transform-origin: top center;
	transition: margin 300ms cubic-bezier(.15, .76, .53, .99), 
		opacity 150ms ease-out, 
		transform 300ms cubic-bezier(.15, .76, .53, .99);
	
	@include mq(small){
		opacity: 0;
		transform: rotateX(90deg);
		width: 175%;
		margin-left: -71%;
		width: calc(100% + 60% + 10%);
		margin-left: calc(-100% + 32.5%);
		margin-bottom: -50%;
		padding-top: .75rem;
		border-top: 1px dotted rgba(white, .3);
		
		.toggled & {
			opacity: 1;
			transform: rotateX(0);
			position: relative;
			z-index: 0;
			padding-bottom: 1rem;
			margin-bottom: 0;
		}
	}
	@include mq((bigs, smallish)){
		display: inline-block !important;
		transform: none !important;
	}
	
}

.nav_toggle {
	color: color(electric);
	display: block;
	margin: 4rem 25% 3em auto;
	position: relative;
	width: 3em;
	height: 3em;
	padding: 1.5em;
	font-size: 1.15em;
	
	&:focus {
		color: lighten(color(electric), 5%);
		border-color: inherit;
		background-color: transparent;
	}
	&:hover {
		color: color(electric, light);
	}
	
	.toggled &, .toggled &:focus {
		background-color: transparent;
		color: desaturate(color(highlight), 10%);
	}
	
	@include mq((bigs, smallish)) {
		display: none !important;
		transform: none;
	}
}
.nav_toggle:before {
	content: "";
	position: absolute;
	left: .25em;
	top: .4em;
	width: 1em;
	height: 0.15em;
	background: currentColor;
	box-shadow: 0 0.25em 0 0 currentcolor, 0 0.5em 0 0 currentcolor;
	font-size: 2em;
}

.nav_toggle:focus {
	outline: none;
}


//.main-navigation {
//	clear: both;
//	display: block;
//	float: left;
//	width: 100%;
//
//	ul {
//		list-style: none;
//		margin: 0;
//		padding-left: 0;
//
//		ul {
//			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
//			float: left;
//			position: absolute;
//			top: 1.5em;
//			left: -999em;
//			z-index: 99999;
//
//			ul {
//				left: -999em;
//				top: 0;
//			}
//
//			li {
//				&:hover > ul {
//					left: 100%;
//				}
//			}
//
//			a {
//				width: 200px;
//			}
//
//			:hover > a {
//			}
//
//			a:hover {
//			}
//		}
//
//		li:hover > ul {
//			left: auto;
//		}
//	}
//	li {
//		float: left;
//		position: relative;
//
//		&:hover > a {
//		}
//	}
//	a {
//		display: block;
//		text-decoration: none;
//	}
//
//	.current_page_item > a,
//	.current-menu-item > a,
//	.current_page_ancestor > a {
//	}
//}

/* Small menu */
.menu-toggle {
	display: none;
}

@include mq(small) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		
	}
	
	.nav {
		width: 100%
	}
	
	.nav li {
		width: 48%;
		text-align: center;
	}
	
	.main-navigation ul {
		
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
